body {
  background-color: #faf0e4;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9bcdd2;
  border-radius: 0.5rem;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

#resultado {
  height: 4rem;
  width: 15rem;
  border-radius: 0.5rem;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  height: 100px;
  width: 100px;
  border-radius: 0.5rem;
  margin-top: 40px;
  background-color: #ff8551;
  opacity: 0.9;
  transition: 0.4s;
  cursor: pointer;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  opacity: 1;
}

#close-modal {
  height: 50px;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #faf0e4;
  z-index: 10;
  width: 500px;
  max-width: 90%;
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.modal-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-footer {
  display: flex;
  justify-content: right;
}

#fade,
#modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}
